<ion-header>

  <app-barranav titulo="Perfil"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <hr>
  
  <app-logo></app-logo>

  <hr>

  <div class="contenedor-perfil margin-auto bordear">
    <div class="centrar">
      <hr>
      <img src="assets/imgperfil.png" alt="" class="tamano-perfil">
    </div>

    <hr>

    <div class="contenedor-datos margin-auto">
      <div class="contenedor-flex espacio-precio letra-grande">
        <p class="negrita2">Usuario:</p>
        <p class="negrita">&nbsp;MarkusAce</p>
      </div>
      <div class="contenedor-flex letra-grande espacio-precio">
        <p class="negrita2">Correo:</p>
        <p class="negrita">&nbsp;correo&#64;gmail.com</p>
      </div>
      <div class="contenedor-flex letra-grande espacio-precio">
        <p class="negrita2">Fecha de creación:</p>
        <p class="negrita margin-top">&nbsp;02/09/2024</p>
      </div>

      <div class="centrar espacio-arriba">
        <ion-button (click)="cerrarSesion()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          Cerrar sesion
        </ion-button>
      </div>
    </div>

  </div>
</ion-content>

<ion-footer>

  <app-barrafooter></app-barrafooter>
  
</ion-footer>
