<ion-header>

  <app-barranav titulo="Perfil"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <hr>
  
  <app-logo></app-logo>

  <hr>

  <div class="contenedor-perfil margin-auto bordear">
    <div class="centrar">
      <hr>
      <img src="assets/imgperfil.png" alt="" class="tamano-perfil">
    </div>

    <hr>

  
      
      <div class="contenedor-datos margin-auto">
        <div class="contenedor-flex espacio-precio letra-grande">
          <p class="negrita2">Usuario:</p>
          <p><strong>Nombre:</strong> {{ nombre_usuario }}</p>
        </div>
        <div class="contenedor-flex letra-grande espacio-precio">
          <p class="negrita2">Correo:</p>
          <p><strong>Email:</strong> {{ email }}</p>
        </div>
        <div class="contenedor-flex letra-grande espacio-precio">
          <p class="negrita2">id:</p>
          <p><strong>ID Usuario:</strong> {{ id_usuario }}</p>
        </div>  
      </div>

      <div class="centrar espacio-arriba">
        <ion-button (click)="cerrarSesion()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          Cerrar sesion
        </ion-button>

        <ion-button (click)="irEditarperfil()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          editar perfil
        </ion-button>

      </div>

  </div>
</ion-content>

<ion-footer>

  <app-barrafooter></app-barrafooter>
  
</ion-footer>
