ion-toolbar{
    --background: #f5f3f3;
}
.contenedor-flex{
    display: flex;
}
.contenedor-footer{
    width: 25%;
    height: 100%;
    text-align: center;
    align-items: center;
}
.tamano-general-imagenes{
    max-width: 40px;
    max-height: 40px;
}
.color-negro{
    color:black;
}
.agrandar-icono{
    font-size: 35px;
}
.centrar{
    text-align: center;
}
.arreglar-lista{
    margin-top: 3px;
}