<ion-header >

  <app-barranav titulo="Bienvenido {{ usuario }}" [tipousuario]="usuario"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <br>
  
  <app-logo></app-logo>

   <app-barrabusqueda mensaje="Buscar zapatilla..."></app-barrabusqueda>

   <br>
  
  <h3 class="centrar color-negro letras-negrita">Lo más vendido</h3>

  <br>

  <app-cardinicio></app-cardinicio>

  <br>

  <app-cardinicio></app-cardinicio>

  <br>

  <app-cardinicio></app-cardinicio>

  <br>

  <app-cardinicio></app-cardinicio>

  <br>

</ion-content>

<ion-footer>

  <app-barrafooter *ngIf="usuario == 'MarkusAce' || usuario == '' "></app-barrafooter>

  <app-barrafooter2 *ngIf="usuario == 'NicolasMa'"></app-barrafooter2>

  
</ion-footer>
