ion-toolbar{
    --background: #F44449;
}
ion-content{
    --background: linear-gradient(to bottom,#D7D7D7,#F44449);
}
ion-title{
    --color: black;
}
ion-button{
    --background: #F44449;
    width: 100%;
}

ion-select {
  --placeholder-color: black;
  --background: white;
  color: black;
}
ion-item{
    --background: white;
    
}

.margin-auto{
    margin: auto;
}
.margin-topbot-auto{
    margin-top: auto;
    margin-bottom: auto;
}
.centrar{
    text-align: center;
}
.centrar-justify{
    justify-content: center;
}

.contenedor-flex{
    display: flex;
}

.img-logo{
    max-width: 100%;
    height: auto;
}
.contenedor-logo{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.contenedor-cards{
    margin: auto;
    width: 95%;
    background-color: #B5B5B5;
    height: 95%;
    margin-top: 10px;
    
}
.tamano-zapatilla{
    width: 85%;
    height: 85%;
    margin-top: 10px;
}

.contenedor-footer{
    width: 25%;
    height: 100%;
    text-align: center;
    align-items: center;

}

.tamano-general-imagenes{
    max-width: 40px;
    max-height: 40px;
}
.letras-negrita{
    font-weight: bold;
}
.arreglar-lista{
    margin-top: 3px;
}
.color-negro{
    color:black;
}
.linea{
    width: 85%;
    height: 75%;
    border: 3px solid white;
}

.bordear{
    border-radius: 10px;
}
.contenedor-compra{
    width: 80%;
}
.letras-grandes{
    font-size: 25px;
}
.contenedor-lista{
    width: 50%;
}
.sin-padding{
    padding: 0px;
    background-color: white;
}