<ion-toolbar>
  <div class="contenedor-flex">
    <div class="contenedor-footer" (click)="irInicio()">
      <img src="assets/inicio.png" alt="" class="tamano-general-imagenes">
    </div>

    <div class="contenedor-footer" (click)="irZapatillas()">
      <img src="assets/zapatilogo.png" alt="" class="tamano-general-imagenes">
    </div>

    <div class="contenedor-footer arreglar-lista" (click)="irCompras()">
      <img src="assets/pedido.png" alt="" class="tamano-general-imagenes">

    </div>
    <div class="contenedor-footer" (click)="irCarrito()">
      <ion-icon slot="start" name="cart" class="color-negro agrandar-icono centrar"></ion-icon>
    </div>
  </div>  
</ion-toolbar>