ion-toolbar{
    --background: #020202;
}

.contenedor-flex{
    display: flex;
}

.contenedor-25{
    width: 20%;

}
.espacio-izquierda{
    margin-left: 10px;
}

.margin-top{
    margin-top: 10px;
}

.margin-auto{
    margin: auto;
}

.contenedor-titulo{
    width: 60%;
}

.centrar{
    text-align: center;
}

.color-negro{
    color:rgb(255, 255, 255);
}

.agrandar-icono{
    font-size: 35px;
}

.espacio-izquierda2{
    margin-left: 20px;
}