<ion-toolbar>  
  <div class="contenedor-flex">
    <div class="contenedor-25">
      <img src="assets/logo/minilogo.png" alt="" class="espacio-izquierda margin-top">
    </div>
    
    <div class="margin-auto contenedor-titulo centrar">
      <ion-title class="color-negro">{{ titulo }}</ion-title>
    </div>

    <div class="contenedor-25 centrar" (click)="irPerfil()">
      <ion-icon slot="start" name="person" class="color-negro agrandar-icono margin-top espacio-izquierda2"></ion-icon>
    </div>
  </div>
</ion-toolbar>