
.margin-auto{
    margin: auto;
}

.cuadrado-busqueda{
    width: 90%;
    height: 60px;
    background-color: #ffffff;
    border-radius: 10px;
}

.contenedor-flex{
    display: flex;
}

.barra-busqueda{
    height: 100%;
    width: 90%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 2px;
    font-weight: 500;

}
.barra-busqueda::placeholder{
    color: rgb(0, 0, 0);
    opacity: 0.9;
}

.tamano-lupa{
    width: 12%;
    height: 65%;
    margin-right: 6px;
}

.margin-topbot-auto{
    margin-top: auto;
    margin-bottom: auto;
}