<ion-header [translucent]="true">

  <app-barranav titulo="Cambiar contraseña"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="contenedor-pag">
    <div class="contenedor-login centrar-eje margin-auto">
      <br>
      <app-logo></app-logo>

      <div class="contenedor-input margin-auto">
        <ion-input label="Nueva contraseña" label-placement="floating" fill="outline" type="text" placeholder="Ingrese su contraseña." ></ion-input>

        <br>

        <ion-input label="Confirma contraseña" label-placement="floating" fill="outline" type="password" placeholder="Ingrese nuevamente la contraseña."></ion-input>
      </div>

      <br>

      <div class="contenedor-input margin-auto centrar">
        <ion-button class="color">
          <ion-icon slot="start" name="pencil"></ion-icon>
          Confirmar cambio
        </ion-button>
      </div>

      <br>
    </div>
  </div>
  

</ion-content>

<ion-footer>

  <app-barrafooter></app-barrafooter>
  
</ion-footer>