<ion-header >
  <ion-toolbar>
    <div>
      <ion-title class="centrar">Listado de compras</ion-title>
    </div>
    
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor-logo margin-auto">
    <img class="img-logo" src="assets/logo/logo.png" alt="">
  </div>
  
  <hr>
    
  <hr>

  <div class="contenedor-cards" (click)="irProducto()">
    <hr>
      <div class="contenedor-flex contenedor-info margin-auto centrar-justify">
        <p class="letras-negrita tamano-letras">Fecha de compra:</p>
        <p class="letras-negrita2 tamano-letras color-negro">&nbsp;28/08/2024</p>
      </div>
      <div class="margin-auto centrar"><img src="assets/zapatilla.png" alt="" class="tamano-zapatilla"></div>
        <div class="contenedor-letras-card margin-auto">
          <p class="letras-negrita2">RDB Game Hombre Celeste</p>
          <p class="letras-negrita2">Puma</p>
        </div>
        <div class="contenedor-flex contenedor-info margin-auto">
          <p class="letras-negrita tamano-letras">Talla:</p>
          <p class="tamano-letras letras-negrita2">&nbsp;9 (27 cms)</p>
        </div>
        
        <div class="contenedor-flex contenedor-info margin-auto">
          <p class="letras-negrita tamano-letras">Cantidad:</p>
          <p class="tamano-letras letras-negrita2">&nbsp; 1 Unidad</p>
        </div>

        <div class="contenedor-flex contenedor-info margin-auto">
          <p class="letras-negrita tamano-letras">Dirección:</p>
          <p class="tamano-letras letras-negrita2">&nbsp;Calle real 343</p>
        </div>

        <div class="contenedor-flex contenedor-info margin-auto">
          <p class="letras-negrita tamano-letras">Llega en:</p>
          <p class="tamano-letras letras-negrita2">&nbsp;1-3 días habiles</p>
        </div>

        <div class="contenedor-flex contenedor-info margin-auto">
          <p class="letras-negrita tamano-letras">Total:</p>
          <p class="tamano-letras letras-negrita2">&nbsp;$33.590</p>
        </div>
        
    
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="contenedor-flex">
      <div class="contenedor-footer" (click)="irInicio()">
        <img src="assets/inicio.png" alt="" class="tamano-general-imagenes">
      </div>
  
      <div class="contenedor-footer">
        <img src="assets/zapatilogo.png" alt="" class="tamano-general-imagenes">
      </div>
  
      <div class="contenedor-footer arreglar-lista">
        <img src="assets/pedido.png" alt="" class="tamano-general-imagenes">
  
      </div>
      <div class="contenedor-footer">
        <img src="assets/perfil.png" alt="" class="tamano-general-imagenes">
      </div>
    </div>  
  </ion-toolbar>
</ion-footer>
