<ion-header >
  
  <app-barranav titulo="Resultados"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">
  <hr>

  <app-logo></app-logo>

  <app-barrabusqueda mensaje="Buscar zapatilla..."></app-barrabusqueda>
  
  <hr>
  
  <h4 class="centrar color-negro letras-negrita">Resultado de: "RDB Game"</h4>

  <hr>

  <app-cardinicio></app-cardinicio>

  <hr>

  <app-cardinicio></app-cardinicio>

  <hr>

  <app-cardinicio></app-cardinicio>

  <hr>

  <app-cardinicio></app-cardinicio>
  
  <hr>

  <app-cardinicio></app-cardinicio>

  <hr>
</ion-content>

<ion-footer>
  
  <app-barrafooter></app-barrafooter>

</ion-footer>