<ion-header >
  <ion-toolbar>
    
    <div class="contenedor-flex">
      <div class="margin-auto contenedor-titulo final">
        <ion-title>Resultado de Busqueda</ion-title>
      </div>

      <div class="contenedor-25 centrar">
        <ion-icon slot="start" name="person" class="color-negro agrandar-icono margin-top espacio-izquierda2"></ion-icon>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor-logo margin-auto" (click)="irInicio()">
    <img class="img-logo" src="assets/logo/logo.png" alt="">
  </div>
  <div class="cuadrado-busqueda margin-auto contenedor-flex">
    <input type="text" class="barra-busqueda margin-auto" placeholder="Buscar zapatilla..." [(ngModel)]="terminoBusqueda">
    <img src="assets/lupa.png" alt="" class="tamano-lupa margin-topbot-auto">
  </div>
  <hr>
  
  <h4 class="centrar color-negro letras-negrita">Resultado de: "RDB Game"</h4>

  <hr>

  <div class="contenedor-cards contenedor-flex" (click)="irPagina()">
    <div class="margin-auto centrar"><img src="assets/zapatilla.png" alt="" class="tamano-zapatilla"></div>
    <div>
      <p class="letras-negrita2 margin-top">RDB Game Hombre Celeste</p>
      <p class="letras-negrita2">Puma</p>
      <p class="letras-negrita2">$33.590</p>
    </div>
  </div>

  <hr>

  <div class="contenedor-cards contenedor-flex" (click)="irPagina()">
    <div class="margin-auto centrar"><img src="assets/zapatilla.png" alt="" class="tamano-zapatilla"></div>
    <div>
      <p class="letras-negrita2 margin-top">RDB Game Hombre Celeste</p>
      <p class="letras-negrita2">Puma</p>
      <p class="letras-negrita2">$33.590</p>
    </div>
  </div>

  <hr>

  <div class="contenedor-cards contenedor-flex" (click)="irPagina()">
    <div class="margin-auto centrar"><img src="assets/zapatilla.png" alt="" class="tamano-zapatilla"></div>
    <div>
      <p class="letras-negrita2 margin-top">RDB Game Hombre Celeste</p>
      <p class="letras-negrita2">Puma</p>
      <p class="letras-negrita2">$33.590</p>
    </div>
  </div>

  <hr>

  <div class="contenedor-cards contenedor-flex" (click)="irPagina()">
    <div class="margin-auto centrar"><img src="assets/zapatilla.png" alt="" class="tamano-zapatilla"></div>
    <div>
      <p class="letras-negrita2 margin-top">RDB Game Hombre Celeste</p>
      <p class="letras-negrita2">Puma</p>
      <p class="letras-negrita2">$33.590</p>
    </div>
  </div>
  
  <hr>

  <div class="contenedor-cards contenedor-flex" (click)="irPagina()">
    <div class="margin-auto centrar"><img src="assets/zapatilla.png" alt="" class="tamano-zapatilla"></div>
    <div>
      <p class="letras-negrita2 margin-top">RDB Game Hombre Celeste</p>
      <p class="letras-negrita2">Puma</p>
      <p class="letras-negrita2">$33.590</p>
    </div>
  </div>

  <hr>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="contenedor-flex">
      <div class="contenedor-footer" (click)="irInicio()">
        <img src="assets/inicio.png" alt="" class="tamano-general-imagenes">
      </div>
  
      <div class="contenedor-footer" (click)="irZapatillas()">
        <img src="assets/zapatilogo.png" alt="" class="tamano-general-imagenes">
      </div>
  
      <div class="contenedor-footer arreglar-lista" (click)="irCompras()">
        <img src="assets/pedido.png" alt="" class="tamano-general-imagenes">
  
      </div>
      <div class="contenedor-footer">
        <ion-icon slot="start" name="cart" class="color-negro agrandar-icono centrar"></ion-icon>
      </div>
    </div>  
  </ion-toolbar>
</ion-footer>