<ion-header >
  <app-barranav titulo="Zapatillas"></app-barranav>
</ion-header>

<ion-content [fullscreen]="true">
  <hr>
  
  <app-logo></app-logo>

  <hr>

  <app-barrabusqueda mensaje="Buscar zapatilla..."></app-barrabusqueda>

  <hr>
    
  <div class="contenedor-botones margin-auto">
    <ion-button class="boton-filtrar">
      Filtrar por
      <ion-icon slot="end" name="menu"></ion-icon>
    </ion-button>
  </div>
  <hr>

  <div class=" ancho margin-auto">
    <div class="contenedor-botones margin-auto contenedor-flex">
      <ion-button class="boton-agregar" (click)="irAgregarZapa()">
        Agregar zapatilla
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>

      <ion-button class="boton-agregar" (click)="irAgregarMarca()">
        Agregar marca
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
    </div>

    

  </div>
  <hr>

  <div class="contenedor-cards">
    <div (click)="irProducto()">
      <div class="margin-auto centrar"><img src="assets/zapatilla.png" alt="" class="tamano-zapatilla margin-top"></div>
        <div class="contenedor-letras-card margin-auto">
          <p class="letras-negrita2">RDB Game Hombre Celeste</p>
          <p class="letras-negrita2">Puma</p>
        </div>
        <hr>
        <div class="centrar tamano-letras letras-negrita">
          <p class="letras-negrita2">$33.590</p>
        </div>
      </div>
        <div class="contenedor-botones margin-auto contenedor-flex espacio-precio">
          <ion-button class="boton-editar" (click)="irEditar()">
            Editar
            <ion-icon slot="start" name="pencil"></ion-icon>
          </ion-button>
          <ion-button class="boton-deshabilitar">
            Deshabilitar
            <ion-icon slot="start" name="ban"></ion-icon>
          </ion-button>
        </div>
    
  </div>

  <hr>

  <div class="contenedor-cards">
    <div (click)="irProducto()">
      <div class="margin-auto centrar"><img src="assets/zapatilla.png" alt="" class="tamano-zapatilla margin-top"></div>
        <div class="contenedor-letras-card margin-auto">
          <p class="letras-negrita2">RDB Game Hombre Celeste</p>
          <p class="letras-negrita2">Puma</p>
        </div>
        <hr>
        <div class="centrar tamano-letras letras-negrita">
          <p class="letras-negrita2">$33.590</p>
        </div>
      </div>
        <div class="contenedor-botones margin-auto contenedor-flex espacio-precio">
          <ion-button class="boton-editar" (click)="irEditar()">
            Editar
            <ion-icon slot="start" name="pencil"></ion-icon>
          </ion-button>
          <ion-button class="boton-deshabilitar">
            Deshabilitar
            <ion-icon slot="start" name="ban"></ion-icon>
          </ion-button>
        </div>
    
  </div>

  <hr>

</ion-content>

<ion-footer>
  <app-barrafooter></app-barrafooter>
</ion-footer>
