ion-content{
    --background: linear-gradient(to bottom,#D7D7D7,#F44449);
}

.contenedor-cards{
    margin: auto;
    width: 80%;
    height: 80%;
    background-color: black;
    border-radius: 10px;
}

.contenedor-flex{
    display: flex;
}

.contenedor-info{
    width: 80%;
}

.margin-auto{
    margin: auto;
}

.centrar-justify{
    justify-content: center;
}

.letras-negrita{
    font-weight: bold;
}

.tamano-letras{
    font-size: 18px;
}

.color-negro{
    color:white;
}

.centrar{
    text-align: center;
}

.tamano-zapatilla{
    width: 85%;
    height: 85%;
}

.contenedor-letras-card{
    width: 80%;
    font-size: 18px;
}

.letras-negrita2{
    font-weight: 500;
}

.precio{
    text-align: right;
}

.espacio-precio{
    justify-content: space-between;
    align-items: center;
}