ion-content{
    --background: linear-gradient(to bottom,#D7D7D7,#F44449);
}

.contenedor-carita{
    width: 80%;
    margin: auto;
    font-size:30px
}

.letras-negrita{
    font-weight: 500;
}

.margin-top{
    margin-top: 90px;
    margin-bottom: 40px;
}

.contenedor-mensaje{
    width: 80%;
    margin: auto;
    font-size:30px
}

.centrar{
    text-align: center;
}