.contenedor-cards{
    margin: auto;
    width: 90%;
    background-color: black;
    border-radius: 10px;
    
}
.contenedor-flex{
    display: flex;
}
.margin-auto{
    margin: auto;
}
.centrar{
    text-align: center;
}
.tamano-zapatilla{
    width: 85%;
    height: 85%;
}
.letras-negrita2{
    font-weight: 500;
}
.margin-top{
    margin-top: 10px;
}